.form-container {


  form {
    padding: 1rem 1.5rem;
    width: min(100%, 400px);
    // margin: auto;

    mat-form-field {
      width: 100%;
      display: block;
    }

    button {
      width: 100%;
      margin: 1rem 0;
    }

    .w-50 {
      width: min(100%, 200px);
    }
  }

}
