<div class="listado"
  *ngIf="dealers">

  <mat-card class="card"
    *ngFor="let dealer of dealers">

    <div class="img">
      <img src="/assets/img/no-image.png"
        [alt]="dealer.name">
    </div>

    <div class="content">
      <mat-card-header>
        <mat-card-title>{{ dealer.name }}</mat-card-title>
      </mat-card-header>

      <mat-card-actions align="start">

        <button mat-raised-button
          color="accent"
          [routerLink]="[dealer.id]">
          Ver inventario
        </button>

      </mat-card-actions>
    </div>

    <div class="adm-menu">
      <button mat-icon-button
        [matMenuTriggerFor]="menuRef">
        <mat-icon class="mat-18">more_vert</mat-icon>
      </button>

      <mat-menu #menuRef="matMenu">
        <button mat-menu-item
          [routerLink]="['edit', dealer.id]">
          Editar
        </button>

        <button mat-menu-item
          (click)="eliminar(dealer.id)">
          Eliminar
        </button>
      </mat-menu>
    </div>
  </mat-card>

</div>
