<div class="listado"
  *ngIf="cars">

  <mat-card class="card"
    *ngFor="let car of cars">

    <div class="img">
      <img src="/assets/img/no-image.png"
        [alt]="car.name">
    </div>

    <div class="content">
      <mat-card-header>
        <mat-card-title>{{ car.brand }} {{ car.model }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="text-content">

          <span>
            <strong>Año: </strong> {{ car.year }}
          </span>

          <span>
            <strong>Color: </strong> {{ car.color }}
          </span>

        </div>
      </mat-card-content>

    </div>

    <div class="adm-menu"
      *ngIf="user && !user.isAdmin">
      <button mat-icon-button
        [matMenuTriggerFor]="menuRef">
        <mat-icon class="mat-18">more_vert</mat-icon>
      </button>

      <mat-menu #menuRef="matMenu">
        <button mat-menu-item
          [routerLink]="['/cars/edit', car?.id]">
          Editar
        </button>

        <button mat-menu-item
          (click)="eliminar(car.id)">
          Eliminar
        </button>
      </mat-menu>
    </div>

  </mat-card>

</div>
