<mat-toolbar color="primary">

  <div class="nav">
    <button mat-icon-button
      fxShow
      fxHide.gt-xs
      (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <a mat-button
      class="logo"
      routerLink='/'>
      <!-- <mat-icon></mat-icon> -->
      <img src="/assets/img/car.png"
        alt="Car Dealer">
      <span class="title">
        Dealers App
      </span>
    </a>

    <app-menu fxHide
      fxShow.gt-xs></app-menu>

    <span class="spacer"></span>

    <button mat-button
      routerLink="/auth"
      *ngIf="!user">
      Iniciar Sesión
    </button>

    <button mat-button
      class="menu-trigger"
      [matMenuTriggerFor]="menuRef"
      *ngIf="user">
      <span>Hola, {{ user.email }}</span>
      <mat-icon class="mat-18">more_vert</mat-icon>
    </button>

    <mat-menu #menuRef="matMenu">
      <button mat-menu-item
        [routerLink]="['/users/edit', user?.id]">
        Editar Perfil
      </button>

      <button mat-menu-item
        (click)="authSvc.logout()">
        Cerrar Sesión
      </button>
    </mat-menu>
  </div>

</mat-toolbar>
