.spacer {
  flex: 1 1 auto;
}

.logo {
  margin-right: 1rem;
  padding-left: 0;

  img {
    width: 25px;
    margin: 0 .25rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  margin: auto;
  width: min(1440px, 100%);
}

.menu-trigger {
  display: flex;
  align-items: center;
}
