<div class="table-container mat-elevation-z3">
  <table mat-table
    matSort
    #table
    [dataSource]="users$ | async">

    <ng-container matColumnDef="nombre"
      sticky>
      <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Nombre Completo
      </th>
      <td mat-cell
        *matCellDef="let user"> {{ user?.firstName }} {{ user?.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
        Correo Electrónico
      </th>
      <td mat-cell
        *matCellDef="let user"> {{ user.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell
        *matHeaderCellDef>
        Edad
      </th>
      <td mat-cell
        *matCellDef="let user"> {{ user?.age }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dealer">
      <th mat-header-cell
        *matHeaderCellDef>
        Dealer en que trabaja
      </th>
      <td mat-cell
        *matCellDef="let user"> {{ user?.dealer }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell
        *matHeaderCellDef>
        Acciones
      </th>
      <td mat-cell
        *matCellDef="let user">

        <a mat-icon-button
          color="warn"
          matTooltip="Eliminar usuario"
          matTooltipPosition="below"
          (click)="deleteUser(user)">
          <mat-icon class="mat-18">delete</mat-icon>
        </a>

      </td>
    </ng-container>

    <tr mat-header-row
      *matHeaderRowDef="columns"></tr>
    <tr mat-row
      *matRowDef="let row; columns: columns;"></tr>

  </table>
</div>
