<!-- <app-user-create></app-user-create> -->

<mat-horizontal-stepper [linear]="true"
  #stepper
  style="max-width: 800px; margin: auto;">
  <mat-step [stepControl]="userForm">
    <form [formGroup]="userForm"
      autocomplete="off"
      style="display: flex; flex-direction: column;">
      <ng-template matStepLabel>
        Complete la información del usuario
      </ng-template>

      <mat-form-field style="max-width: 500px;">
        <mat-label>Nombre</mat-label>
        <input type="text"
          matInput
          formControlName="firstName"
          required>
      </mat-form-field>

      <mat-form-field style="max-width: 500px;">
        <mat-label>Apellido</mat-label>
        <input type="text"
          matInput
          formControlName="lastName"
          required>
      </mat-form-field>

      <mat-form-field style="max-width: 250px;">
        <mat-label>Edad</mat-label>
        <input type="number"
          matInput
          formControlName="age"
          min="18"
          max="90"
          required>
      </mat-form-field>

      <mat-form-field style="max-width: 500px;">
        <mat-label>Correo Electrónico</mat-label>
        <input type="email"
          matInput
          formControlName="email"
          required>
      </mat-form-field>

      <mat-form-field style="max-width: 500px;">
        <mat-label>Contraseña</mat-label>
        <input type="password"
          matInput
          formControlName="password"
          required>
      </mat-form-field>

      <div style="margin-top: 1rem;">
        <button mat-raised-button
          matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="dealerForm"
    label="Complete la información del Dealer">
    <form [formGroup]="dealerForm"
      style="display: flex; flex-direction: column;">

      <mat-form-field style="max-width: 500px;">
        <mat-label>Nombre</mat-label>
        <input matInput
          formControlName="name"
          placeholder="Nombre del Dealer"
          required>
      </mat-form-field>

      <div style="max-width: 500px;">
        <button mat-raised-button
          style="margin-right: 1rem;"
          matStepperPrevious>Atrás</button>
        <button mat-raised-button
          matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Completar</ng-template>
    <p>Presione el butón para completar la creación del perfil</p>
    <div>
      <button mat-raised-button
        color="primary"
        (click)="crear()">Crear perfil</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
